* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
a {
  color: inherit;
}

img,
video {
  display: block;
}
.chart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  max-width: 422px;
}
.line, .legend, .bar {
  display: flex;
  flex-direction: row;
  align-items: center;

}
h2 {
  text-align: right;
  width: 100px;
  font-size: 16px;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.line p {
  color: #ffffff;
}
.bar .mobile, .bar .desktop {
  padding: 8px 0 8px 0;
}
.switzerland .mobile{
  flex: 0 0 65%;
}
.switzerland .desktop{
  flex: 0 0 35%;
}
.usa .mobile{
  flex: 0 0 51%;
}
.usa .desktop{
  flex: 0 0 49%;
}
.europe .mobile{
  flex: 0 0 41%;
}
.europe .desktop{
  flex: 0 0 59%;
}
.bar {
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 30px;
  width: 302px;  
}
.mobile, .desktop {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.chart .mobile {
  background: #FFCC2F;
}
.chart .desktop {
  background: #37D3D2;
  border-radius: 0 10px 10px 0;
}
.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 120px;
  gap: 20px;
  max-width: 422px;
}
.square {
  height: 16px;
  padding-left: 10px;
  border-left: 16px solid;
  font-weight: 700;
}
.square.mobile {
  border-color: #FFCC2F;
}
.square.desktop {
  border-color: #37D3D2;
}